<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:18:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test13Equipos.IngresoAmbiente()[pri:0, instance:test.Test13Equipos@323f3c96]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:18:48</td>   <td>37926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.seccionEquipos()[pri:17, instance:test.Test13Equipos@323f3c96]">seccionEquipos</td> 
  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:19:16</td>   <td>66095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@323f3c96]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:19:18</td>   <td>68408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.crearEquipo()[pri:18, instance:test.Test13Equipos@323f3c96]">crearEquipo</td> 
  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:19:51</td>   <td>101318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@323f3c96]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:19:53</td>   <td>102791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.EquipoPorJuego()[pri:19, instance:test.Test13Equipos@323f3c96]">EquipoPorJuego</td> 
  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:20:26</td>   <td>136242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@323f3c96]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:20:28</td>   <td>137820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.UnirmeEquipo()[pri:20, instance:test.Test13Equipos@323f3c96]">UnirmeEquipo</td> 
  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:21:15</td>   <td>184422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@323f3c96]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:21:17</td>   <td>186891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.EliminaEquipo()[pri:21, instance:test.Test13Equipos@323f3c96]">EliminaEquipo</td> 
  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:21:53</td>   <td>223292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@323f3c96]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@224473864</td>   <td></td> </tr>
<tr bgcolor="bbb2a2">  <td>19/09/18 18:21:56</td>   <td>225615</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.CloseChrome()[pri:0, instance:test.Test13Equipos@323f3c96]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@224473864</td>   <td></td> </tr>
</table>
